<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-band" ui-sref="home">
                <fullstack-logo></fullstack-logo>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="(!item.auth || isLoggedIn()) && (!item.admin || isAdmin())">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="signup" class="btn  login-button">Signup</button>
        <button ng-show="!user" ui-sref="checkout" class="btn  login-button"><i class="fa fa-shopping-cart fa-lg"></i></button>
        <div ng-show="user" class="welcome">
            <span uib-dropdown on-toggle="toggled(open)">
                <a href id="simple-dropdown" uib-dropdown-toggle>
                    Hello, {{ user.email }}!
                </a>
                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                    <li ng-repeat="choice in loginUserDropdown">
                        <a ui-sref-active="active" ui-sref="{{ choice.state }}">{{ choice.label }}</a>
                    </li>
                </ul>
            </span>
            <a class="btn btn-info" ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>

