<div class="container" ui-sref-active="active">
	<div class="panel panel-default" ng-repeat="product in products">
	<!--   <div class="panel-heading">
	    <h3 class="panel-title">{{product.name}}</h3>
	  </div> -->
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-lg-4">
	  			 <a href="#" class="thumbnail">
     			 	<img src="{{product.photo}}">
   				 </a>
	  		</div>
	  		<div class="col-lg-8">
	  			<h3><a href="#" ui-sref="products.detail({id: product._id})">{{product.name}}</a></h3>
	  			<h1>{{product.price | currency}}</h1>
	  			<div>{{product.category[0]}}</div>
	  			<span class="label label-info" ng-repeat="tag in product.tags">{{tag}}</span>

	  		</div>
	  	</div>





	  </div>
	</div>

<!-- 	{{products}}
<div>{{product.description}}</div>
 -->

</div>


