<div class="container body-container">
    <div class="row order_history_header">
        <div class="col-md-3">
            <p>Order Date</p>
        </div>
        <div class="col-md-5">
            <p>Details</p>
        </div>
        <div class="col-md-2">
            <p>Status</p>
        </div>
        <div class="col-md-2">
            <p>Actions</p>
        </div>
    </div>
    <div class="row order_item" ng-repeat="order in orders">
        <div class="col-md-3">
            <p>{{order.ModifiedDate|date}}</p>
        </div>
        <div class="col-md-5">
            <div ng-repeat="orderItem in order.orderList">
                <a href="#" ui-sref="products.detail({id: orderItem.product[0]._id})">{{orderItem.product[0].brand}} - {{orderItem.product[0].name}} - {{orderItem.size}}</a>
            </div>
        </div>
        <div class="col-md-2">
            <p>{{order.status}}</p>
        </div>
        <div class="col-md-2">
            <a class="btn btn-info" ui-sref="orders.detail({id: order._id})">View Detail</a>
        </div>
    </div>
</div>
<ui-view></ui-view>

