<div class="container">

    <div ng-repeat="item in orderItems">
        <div class="row">
            <div class="col-lg-2">
                <img ng-src={{item.product[0].photo}} class="img-thumbnail">
            </div>
            <div class="col-lg-2">
                <h4>{{item.product.brand}}</h4>
                <h5>{{item.product.name}}</h5>
            </div>
            <div class="col-lg-2">
                <h5>black</h5>
            </div>
            <div class="col-lg-2">
                <h3>{{item.size}}</h3>
            </div>
            <div class="col-lg-1">
                <input type ="number" ng-model="item.quantity" class="form-control">
                <a class="btn btn-info" ng-click="updateOrderItem(item)">update</a>
            </div>
            <div class="col-lg-2">
                <h4>{{item.product[0].price*item.quantity | currency}}</h4>
            </div>
            <div class="col-lg-1">
                <a class="btn btn-warning" ng-click="removeOrderItem(item)"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <ui-view></ui-view>
    <div>
        <a class="btn btn-primary" ui-sref="checkout.info">Check Out</a>
    </div>
</div>
