<div class="container body-container">
    <div style="text-align: center" ng-show="orderItems.length === 0">
        <a class="img-thumbnail" ui-sref="products.list" >
            <fullstack-logo></fullstack-logo>
        </a>
        <h1>Click the logo, go Shopping!!!</h1>
    </div>
   <div class="well order-list-item" ng-hide="orderItems.length === 0">
       <div>
           <div ng-repeat="item in orderItems">
               <div class="row">
                   <div class="col-lg-2">
                       <img ng-src={{item.product[0].photo}} class="img-thumbnail">
                   </div>
                   <div class="col-lg-2">
                       <a ui-sref="products.detail({id: item.product[0]._id})">
                           <h4>{{item.product[0].brand}}</h4>
                           <h5>{{item.product[0].name}}</h5>
                       </a>

                   </div>
                   <div class="col-lg-3">
                       <label>Category:</label>
                       <h5>{{item.product[0].cat1}}</h5>
                       <h5>{{item.product[0].cat2}}</h5>
                       <h5>{{item.product[0].cat3}}</h5>
                   </div>
                   <div class="col-lg-1">
                       <label>Size:</label>
                       <h3>{{item.size}}</h3>
                   </div>
                   <div class="col-lg-1">
                       <input type ="number" ng-model="item.quantity" class="form-control">
                       <span class="btn btn-info" ng-click="updateOrderItem(item)">update</span>
                   </div>
                   <div class="col-lg-2">
                       <h4>{{item.product[0].price*item.quantity | currency}}</h4>
                   </div>
                   <div class="col-lg-1">
                       <a class="btn btn-warning" ng-click="removeOrderItem(item)"><i class="fa fa-times"></i></a>
                   </div>
               </div>
           </div>
       </div>
    </div>
    <div>
        <a class="btn btn-primary" ui-sref="checkout.info">Check Out</a>
    </div>
    <ui-view></ui-view>

</div>
