* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  //padding-top: 60px;
  width: 100%;
  margin: 0 auto;
}

.body-container{
  padding: 100px;
  .order_history_header{
    text-align: center;
    background-color: #ccc;
    color: #ffffff;
    div {
      border: 1px solid #ffffff;
      p{
        margin: 5px;
      }
    }
  }
  .order_item {
      padding:20px;
      border-bottom: 1px solid #ccc;
  }
  .sum-charges {
    p{
      border-bottom: 1px solid #ccc;
    }
  }

  .order-list-item{
    box-shadow: #ccc 5px 5px 5px 5px;
    .btn-info{
      //width: 40%;
    }
  }

}
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';

